*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

.overscroll{
    position: relative;
    background-color: white;
    color: white;
    z-index: 5;
}
/* HEADER */

/* BUTTON UPGRADE */

.btn,h3{
    text-transform: uppercase;
}

.btn:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
}

.btn{
    border-radius: 20px;
    border: solid 1px white;
    text-align: center;
    padding: 10px 25px;
    color: white;
    opacity: 1;
}
.upgrade .btn{
    width: 160px;
    position: absolute;
    top: 25%;
    right: 10px;
    font-size: 10px;
    color: white;
}

.upgrade{
    height: 74px;
    background-color: black;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    z-index: 2;
}

/* MENU LEFT */

.menu-top{
    min-height: calc(100% - 80px);
}

.menu-bottom{
    height: 80px;
    padding-top: 20px;
}

header{
    height: calc(100% - 70px);
}
nav{
    background-color: black;
    width: 50px;
    height: 100%;
    position: relative;
    z-index: 3;
    overflow: hidden;
}

.logo{
    width: 80%;
}

.object{
    width: 35px;
}

.logo,.object,.playlist{
    margin: 0 auto;
    padding: 5px 0;
}
/* CAPIRE COME METTERE BORDO SENZA PRENDERE SPAZIO
.first{
    border-left: solid 5px green;
}
*/

.lite{
    opacity: .7;
}

a{
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

a:hover{
    color: white;
    opacity: 1;
}

.search img{
    width: 15%;
    vertical-align: middle;
    height: 100%;
}

span,h3,.new{
    font-size: 14px;
    color: white;
    vertical-align: middle;
}

.playlist{
    width: 100%;
    margin-top: 20px;
}

#cross{
    background-color: #d3d3d3;
    color: black;
    font-size: 25px;
    font-weight: bold;
    width: 29px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.add{
    margin: 10px 0;
}

.add span{
    margin-left: 10px;
}

.new{
    margin-bottom: 15px;
}

.floor{
    height: 100%;
}

.profile img{
    background-color: #d3d3d3;
    border-radius:50%;
    width: 22px;
    height: 22px;
    margin-top: 5px;
}

.profile,.install{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.install{
    width: 70%;
}

.install img{
    width: 15px;
    vertical-align: middle;
}

.install span{
    vertical-align: middle;
}

.nomobile,.first span,.second span,
.third span,.playlist,.install span,.profile span,hr{
    display: none;
}

/* FOOTER */ 

/* COMMANDS */

footer{
    background-color: rgb(53, 49, 49);
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.commands{
    display: flex;
    justify-content: space-around;
    height: 70px;
}

.song,.volume{
    width: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play{
    width: calc(100% - 280px);
}

/* SONG */

.song img{
    width: 40px;
    height: 40px;
}

.name,.icon{
    font-size: 10px;
}

.song .icon i{
    display: block;
    font-size: 12px;
    margin: 5px auto;
}

/* VOLUME */

.volume .icon i{
    padding-left: 5px;
}

.bar{
    height: 5px;
    width: 50%;
    background-color:grey;
    border-radius: 10px;
    cursor: pointer;

}

.littlebar{
    height: 100%;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    position: relative;
    opacity: .7;
}

/* PLAY */

.play-big:hover{
    transform: scale(1.5, 1.5);
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.up i{
    font-size: 16px;
    margin: 0 1%;
    cursor: pointer;
}

.down-bar{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bar:hover .littlebar{
    background-color: rgb(70, 218, 70);
    opacity: 1;
}
 
.bar:hover .ball{
    display: block;
}

.ball{
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    transform: translate(0,-25%);
    background-color: white;
    border-radius: 50%;
    display: none;
}


.down-bar span{
    padding: 0 2%;
    font-size: 12px;
}

.down{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

/* MAIN */

.contain{
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% - 70px);
    width: calc(100% - 50px);
    background-color: rgb(33, 33, 46);
    padding: 84px 10px 10px;
    overflow: scroll;
}

.type{
    text-align: center;
    line-height: 40px;
    padding: 0 10px;
}

.type span{
    text-transform: uppercase;
    font-size: 13px;
    padding-right: 22px;
}

.recently,.personal,.artists{
    margin: 20px 0 10px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    align-items: stretch;
}

h3,h6{
    color: white;
}

.recently .row .listen:hover img{
    opacity: .6;
}
.recently .row .listen:hover i{
    display: block;
}

.listen{
    width: 48%;
    margin: 10px 0;
    cursor: pointer;
}

.listen .image-play img{
    width: 100%;
}

.image-play{
    position: relative;
}

.image-play i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    color: white;
    display: none;
    transform: translate(-50%,-50%);
}

.listen img{
    width: 100%;
}

.listen h3,.h6{
    font-size: 10px;
}

.title{
    text-align: center;
}

.listen:nth-child(odd){
    margin-right: 4%;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .nomobile,.first span,.second span,
    .third span,.playlist,.install span,.profile span,hr{
    display: inline-block;
    }
    .mobile{
        display: none;
    }
    nav{
        width: 200px;
    }
    .object {
        width: 70%;
    }
    .object a img{
        display: inline-block;
        width: 30px;
        vertical-align: middle;
    }
    .logo,.object,.playlist{
        margin: 0 20px;
        padding: 5px 0;
    }
    .profile,.install{
        width: 50%;
        margin: 0 20px;
        text-align: left;
    }
    .install{
        width: 70%;
    }
    hr{
        width: 80%;
        margin: 0 20px;
    }
    .menu-bottom{
        padding: 0;
    }
    .profile img{
        vertical-align: middle;
    }
    .contain{
        width: calc(100% - 200px);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .nomobile,.first span,.second span,
    .third span,.playlist,.install span,.profile span,hr{
    display: inline-block;
    }
    .mobile{
        display: none;
    }
    nav{
        width: 200px;
    }
    .object {
        width: 70%;
    }
    .object a img{
        display: inline-block;
        width: 30px;
        vertical-align: middle;
    }
    .logo,.object,.playlist{
        margin: 0 20px;
        padding: 5px 0;
    }
    .profile,.install{
        width: 50%;
        margin: 0 20px;
        text-align: left;
    }
    .install{
        width: 70%;
    }
    hr{
        width: 80%;
        margin: 0 20px;
    }
    .menu-bottom{
        padding: 0;
    }
    .profile img{
        vertical-align: middle;
    }
    .contain{
        width: calc(100% - 200px);
    }
    .listen{
        width: 21%;
        margin-right: 4%;
    }
}
